*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins,sans-serif,'bykan';

}
html{
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'bykan';
  src: url(./fonts/Bykan/yekan1-webfont.woff2) format("woff2"),url(./fonts/Bykan/yekan1-webfont.woff) format("woff");
}
body{
  background-color:#152E4D ;
}

header{
 height: 250px;
}
.navbar{
  display: flex;
  height: 100%;

  justify-content: flex-end;
  padding: 30px;
  background: url(./img/header.png) center/cover;

}
.navbar ul{
  list-style: none;
  font-size: 0;
}
.navbar ul li{
  display: inline-block;
  margin: 10px;
}
.navbar ul li a{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  color: #fff;
}
.navbar .list-menu{
  display: none;
}
section{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  height: 460px;
  position: relative;
  align-items: flex-end;

}
section .img{
  height: 100%;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
section img{
 height: 100%;
}
section #valorant{
  margin-right: 12rem;
}
section #apexLegends{
  min-height: 35rem;
}
section .wrapper{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 52%;
}
section .wrapper .firtstTitle{
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}
section .wrapper .secondTitle{
margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}
section .wrapper #browsGameBtn{
  margin-top: 1.3rem;
  margin-bottom: 12rem;
  height: 60px;
  width: 300px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #1C5FDF;
  color: #fff;
  font-size: 1.5rem;
  opacity: 90%;
  transition: 300ms;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding-top: 0.6rem;
}
body {
  background:#0b1d2a;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 54%;
  margin-left: -30px;
  bottom: 38px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
section .wrapper #browsGameBtn::before{
  content: '';
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #104097;
  position: absolute;
  left: 40%;
  z-index: -1;
  top: 0;
  transition: all 300ms;
  opacity: 0;

}
section .wrapper #browsGameBtn:hover::before{
  background-color: #4834d4;
  width: 600px;
  height: 600px;
  left: 0;
  border-radius: 0;
  opacity: 100%;
}

@media screen  and (max-width:1308px){
  section #valorant{
    margin: 0;
    height: 400px;
    width: 250px;
    margin-right: 8rem;
  }
  section #apexLegends{
    width: 500px;
  }
  section #pubg{
    width: 350px;
  }
}
@media screen  and (max-width:1054px){
  section .wrapper{
    top: 0;
    left: 35%;

  }
  .gameListContainer{
    height: 250vh;

  }
  section{
    margin-top: 4rem;
    display: flex;
    justify-content:space-between;
    height: 460px;
    align-items: flex-end;
  }
  section #valorant{
    margin: 0;
    height: 400px;
    width: 250px;
    margin-right:18rem;
  }
  section #apexLegends{
   display: none;
  }
  section #pubg{
    display: block;
  }
}
@media screen  and (max-width:918px){
  section .wrapper{
    top: 0;
    left: 30%;
  }
  section #valorant{
    margin: 0;
    height: 400px;
    min-width: 250px;
    margin-right:18rem;
  }

}
@media screen  and (max-width:648px){
  section .wrapper{
    top: 0;
    left: 40%;

  }
  section #pubg{
    display: none;
  }
}
@media screen  and (max-width:568px){
  header{
    height: 190px;
  }
  .arrows{
    height: 118px;

  }
  section .wrapper{
    top: 0;
    left: 30%;
  }
  section .wrapper .firtstTitle{
    font-size: 2.5rem;
  }
  section .wrapper .secondTitle{
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1rem;
  }
  section .wrapper #browsGameBtn{
    height: 50px;
    width: 230px;

    font-size: 1.1rem;
  }
}
.items{
  display: none;
}
@media screen  and (max-width:410px){
  .navbar ul{
    display: none;
  }
  .items ul{
    display: block;
    margin-top: 2rem;
  }
  .items .fa-xmark{
    color: #fff;
    font-size: 2rem;
    position: absolute;
    right: 30px;
    cursor: pointer;

  }
  .items ul li{
    display: block ;
    margin-left: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    height: 50px;

    width: 80%;
    border-radius: 20px;
  }
  .items ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
  }
  .navbar .list-menu{
    display: block;
    font-size: 2rem;
    color: #fff;
    height: 43px;
    cursor: pointer;
  }
  body{
    position: relative;

  }
  .items{
    padding-top: 1rem;
    position: absolute;
    height:100%;
    width:50%;
    opacity: 90%;
    background-color: #4834d4;
    top: 0;
    right: 0;
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transition: all 300ms;
    display: none;
  }
  header{
    height: 153px;
  }
  section .wrapper{
    top: 0;
    left: 30%;
  }
  section .wrapper .firtstTitle{
    font-size: 2rem;
  }
  section .wrapper .secondTitle{
    font-size: 1.2rem;
  }
  section .wrapper #browsGameBtn{
    height: 50px;
    width: 200px;

    font-size: 1rem;
  }
}
@media screen  and (max-width:328px){
  section{
    margin-top: 4rem;
  }
  section .wrapper{
    top: 0;
    left: 0;
  }
  .arrows{
    height: 118px;
    margin-left: 0;
  }
  section #valorant{
    height: 350px;
    min-width: 200px;
    margin-right:18rem;
    margin-top: 2rem;
  }
  section .wrapper .secondTitle{
    font-size: 1.2rem;
    margin-left: 3rem;
  }
  section .wrapper #browsGameBtn{
    height: 50px;
    width: 190px;
    font-size: 1rem;
    margin-left: 5rem;
  }
}
