*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins,sans-serif;
  overflow: hidden;
}
body{
  background-color:#152E4D ;
}

header{
 height: 250px; 
}
.navbar{
  display: flex;
  height: 100%;
 
  justify-content: flex-end;
  padding: 30px;
  background: url(./img/header.png) center/cover;
  
}
.navbar ul{
  list-style: none;
  font-size: 0;
}
.navbar ul li{
  display: inline-block;
  margin: 10px;
}
.navbar ul li a{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  color: #fff;
}
section{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  height: 460px;
  
  align-items: flex-end;
  
}
section .img{
  height: 100%;
 
  display: flex;
  align-items: flex-end;
}
section img{
 height: 100%;
}
section #valorant{
  margin-right: 12rem;
}
section #apexLegends{
  height: 35rem;
}
section .wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 40%;
  left: 52%;

}
section .wrapper .firtstTitle{
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}
section .wrapper .secondTitle{
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}
section .wrapper #browsGameBtn{
  margin-bottom: 12rem;
  height: 60px;
  width: 300px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #1C5FDF;
  color: #fff;
  font-size: 1.5rem;
}

